/* Add all your CSS here */
body {
    width: 100%;
    background-color: skyblue;
    text-align: center;
    font-family: Tahoma;
    font-size:20px;
}

header {
    background-color: white;
    padding: 30px;
    color: grey;
}

header img {
    width: 100px;
    vertical-align: middle;
}

nav {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: white;
}

form {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}